body {
    margin: 0;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    background-image: url("avengers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.body-centered {
   width: 60em;
   background-color: #fff;
}

ul {
    background-color: #000;
    height: 10em!important;
    margin: 0;
    padding-top: 3em;
}

ul li a {
    color: #5A8AB2;
    text-decoration: none;
    font-family: helvetica;
}
ul li a:hover {
    color: #fff;
}

li {
    list-style-type: none;
}

h4 {
    margin-top: 2em;
    padding: 2em;
}

main {
    padding: 2em;
}

footer {
    height: 5em;
    background-color: #03346C;
    padding: 3em;
}

.whitespace {
    height: 22em;
}

.title {
    color: #fff;
}

select {
    font-size: 1.4em;
}

button {
    font-size: 1.2em;
    padding: 0.4em;
    background-color: #03346C;
    color: #fff;
    border-radius: 0.3em;
}

.breadcrumb {
    display: flex;
}

.breadcrumb li a {
    color: #333;
    margin-left: 0.4em;
    text-decoration: none;
}